.portrait {
  flex: none;
  border-width: 0;
  margin-right: 5px;
}

.roll-dialog {
  .modifiers {
    margin-bottom: 10px;
    gap: 0;

    input {
      position: relative;
      top: 5px;
    }
  }
}

.roll-message{
  h1 {
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }

  .dice-rolls {
    position: relative;
    list-style: none;
    margin: 5px 0;
    padding: 0;
    overflow: hidden;

    .dice {
      position: relative;
      min-width: 36px;
      line-height: 36px;
      float: left;
      margin-right: 1px;
      background-image: url(/icons/svg/d6-grey.svg);
      background-repeat: no-repeat;
      background-size: 36px 36px;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      text-align: center;
    }
  }

  .roll-result {
    margin: auto 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}
