.portrait {
  flex: none;
  border-width: 0;
  margin-right: 5px;
}

.roll-dialog {
  .modifiers {
    margin-bottom: 10px;
    gap: 0;

    input {
      position: relative;
      top: 5px;
    }
  }
}
