<form class="roll-dialog">
  <select id="tension">
    <option value="uneasy">Uneasy</option>
    <option value="tense">Tense</option>
    <option value="desperate">Desperate</option>
  </select>

  <div class="modifiers grid-2col">
    <div>
      <label for="push">Push Yourself</label>
      <input id="push" type="checkbox"/>
    </div>

    <div>
      <label for="scar">Scar</label>
      <input id="scar" type="checkbox"/>
    </div>

    <div>
      <label for="help">Help</label>
      <input id="help" type="checkbox"/>
    </div>

    <div>
      <label for="betray">Betray</label>
      <input id="betray" type="checkbox"/>
    </div>
  </div>
</form>
