<form class="roll-template">
    <select id="tension">
      <option value="uneasy">Uneasy</option>
      <option value="tense">Tense</option>
      <option value="desperate">Desperate</option>
    </select>

    <label for="push">Push Yourself</label>
    <input id="push" type="checkbox"/>

    <label for="help">Help</label>
    <input id="help" type="checkbox"/>

    <label for="betray">Betray</label>
    <input id="betray" type="checkbox"/>
</form>
